<html>

<head>
    <title>{{ title }} | Impresi Foto</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Facial Expression" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/app.css') }}" />

    <script src="{{ url_for('static', filename='js/font-awesome-all.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sweetalert.min.js') }}"></script>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar is-info is-transparent navbar-is-medium">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <h1 class="title is-5 has-text-white">Impresi Foto</h1>
                </a>
                <div class="navbar-burger burger" data-target="menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="navbar-menu" id="menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/main_detect">
                        Deteksi Ekspresi
                    </a>
                    <a class="navbar-item" href="/photos">
                        Foto Percobaan
                    </a>
                    <a class="navbar-item" href="/results">
                        Hasil Percobaan
                    </a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        {% if session['loggedin'] %}
                        <a class="button is-info is-inverted is-outlined" href="/admin">
                            Admin
                        </a>
                        {% else %}
                        <a class="button is-info is-inverted is-outlined" href="/login">
                            Masuk
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- dynamic content -->
    {% block content %} {% endblock %}

    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        &copy; 2017, Impresi Foto
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <p>
                            <strong>Impresi Foto</strong> by
                            <a href="github.com/rasyadh">Rasyadh Abdul Aziz</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>