<!-- yield content -->
{% extends 'base.html' %} {% block content %}

<!-- hero -->
<section class="hero is-info">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Impresi Foto
            </h1>
            <h2 class="subtitle">
                Analisa Perubahan Ekspresi Wajah Berdasarkan Impresi Pada Foto
            </h2>
        </div>
    </div>
</section>

<!-- content -->
<section class="section">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column">
                <a class="box" href="/detect_expression">
                    <p class="title is-4">Deteksi Ekspresi</p>
                    <p>Mendeteksi perubahan ekspresi wajah berdasarkan foto yang ditampilakan.</p>
                </a>
            </div>
            <div class="column">
                <a class="box" href="/photos">
                    <p class="title is-4">Koleksi Foto</p>
                    <p>Kumpulan foto yang akan ditampilkan pada deteksi ekspresi.</p>
                </a>
            </div>
            <div class="column">
                <a class="box" href="/results">
                    <p class="title is-4">Hasil Percobaan</p>
                    <p>Menampilkan hasil dari percobaan deteksi ekspresi yang telah dilakukan.</p>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- end yield content -->
{% endblock %}