{% extends 'base.html' %} {% block content %}

<main class="login">
    <div class="ui text container">
        <h2>Login Admin</h2>
        <form class="ui form" method="post" action="/login">
            <div class="ui error message"></div>
            <div class="field">
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="Username"/>
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Password"/>
            </div>
                <input class="ui fluid large primary button" type="submit" name="login" value="Login"/>
        </form>
    </div>
</main>

{% endblock %}