<!-- yield content -->
{% extends 'base.html' %} {% block content %}

<!-- detect -->
<section class="section">
    <div class="container">
        <div class="slideshow-wrapper">
            {% for slide in slides %}
            <figure class="image-slide fade has-text-centered" id="img-slide">
                <img class="slide" src="{{ slide.photo_url }}"/>
            </figure>
            {% endfor %}
        </div>
    </div>

    <img class="video_frame" src="{{ url_for('feed_stream') }}" />
</section>

<!-- script slideshow -->
<script src="{{url_for('static', filename='js/slideshow.js') }}"></script>

<!-- end yield content -->
{% endblock %}