<!-- yield content -->
{% extends '/dashboard/base_dashboard.html' %} {% block content %}

<!-- hero -->
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Statistik
            </h1>
            <h2 class="subtitle">
                Menampilkan statistik dan tren dari foto.
            </h2>
        </div>
    </div>
</section>

<!-- result detection -->
<section class="section">
    <div class="container">
        {% for key, value in trend.items() %} {% if value %}
        <h1 class="subtitle">Tren foto {{ key }}</h1>
        <table class="table is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Foto</th>
                    <th>Kategori Foto</th>
                    <th>Jumlah Ekspresi Terdeteksi</th>
                </tr>
            </thead>
            <tbody>
                {% for val in value %}
                <tr>
                    <td>{{ val.id_photo }}</td>
                    <td>
                        <img width="100" src="{{ val.photo_url }}">
                    </td>
                    <td>{{ val.result_expression }}</td>
                    <td>{{ val.occurance }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        {% endif %}
         {% endfor %}
    </div>
</section>

<!-- end yield content -->
{% endblock %}