/** Global **/

/** Header **/
.navbar-is-medium {
    min-height: 4.25rem;
}

/** Facial Expression **/

/** Photos **/

/** Result **/

/** Footer **/

/** Slideshow **/
.slide {
    width: 880px;
    height: auto;
    font-size: 1.42857143rem;
}

.video_frame {
    width: 160px;
    height: 120px;
    border: 1px solid black;
    position: absolute;
    bottom: 50px;
    right: 20px;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media only screen and (max-width: 700px) {
    .navbar-is-medium {
        min-height: 3.25rem;
    }
}