<!-- yield content -->
{% extends '/base.html' %} {% block content %}

<!-- hero -->
<section class="hero is-info" id="start">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Percobaan dengan slideshow foto {{ category }}
            </h1>
            <h2 class="subtitle">
                Pilih tombol mulai disaat perekaman wajah telah berjalan.
            </h2>
            <button id="play" class="button is-primary">Mulai</button>
        </div>
    </div>
</section>

<!-- detect -->
<section class="section">
    <div class="container" id="slideshow">
        <div class="slideshow-wrapper">
            {% for slide in slides %}
            <figure class="image-slide fade has-text-centered" id="img-slide">
                <img class="slide" id="{{ slide.id }}" src="{{ slide.photo_url }}" />
            </figure>
            {% endfor %}
        </div>
    </div>

    <img class="video_frame" id="slides" src="{{ url_for('stream.feed_stream') }}" />
    
    <form id="submit" action="/expression_detection/result/" method="post">
        <input type="hidden" name="data" id="datajson">
        <input type="hidden" name="photos" id="photosjson">
    </form>
</section>

<!-- script slideshow -->
<!-- <script src="{{url_for('static', filename='js/slideshow.js') }}"></script> -->
<script src="{{url_for('static', filename='js/socket.io.js')}}"></script>
<script src="{{url_for('static', filename='js/slides.js') }}"></script>

<!-- end yield content -->
{% endblock %}