<!-- yield content -->
{% extends 'auth/base.html' %} {% block content %}

<!-- hero -->
<section class="hero is-info">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Register User
            </h1>
        </div>
    </div>
</section>

<!-- login -->
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half is-narrow">
                {% if error %}
                <div class="notification is-danger">
                    <button class="delete"></button>
                    {{ error }}
                </div>
                {% endif %}
                <form class="form" method="POST" action="{{ url_for('auth.register') }}">
                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control has-icons-left">
                            <input class="input" type="text" required name="username" autocomplete="false">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control has-icons-left">
                            <input class="input" type="password" required name="password">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="field">
                        <div class="control">
                            <input class="button is-info is-fullwidth" type="submit" name="register" value="Daftar">
                        </div>
                    </div>
                </form>
                <a class="button is-fullwidth" href="/login/">Login</a>
            </div>
        </div>
    </div>
</section>

<script>
    if (`{{ error | safe }}` != 'None') {
        setTimeout(() => {
            $('.notification').fadeOut();
        }, 1000);
    }

    $(() => {
        $('.delete').click(() => {
            $('.notification').fadeOut();
        });
    });
</script>

<!-- end yield content -->
{% endblock %}