<!-- yield content -->
{% extends 'admin/base_admin.html' %} {% block content %}

<!-- hero -->
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Ekstraksi Fitur
            </h1>
            <h2 class="subtitle">
                Ekstraksi fitur foto ekspresi wajah.
            </h2>
        </div>
    </div>
</section>

<!-- feature extraction -->
<section class="section">
    <div class="container">

    </div>
</section>

<!-- end yield content -->
{% endblock %}